    <.layout>
      <h1 class="text-4xl">Hi, I'm Mihai</h1>
      <h2>I like to talk about code, history and philosophy</h2>
      <ul class="hidden">
        <li :for={post <- @posts}>
          <a href={post.path}> <%= post.title %> </a>
        </li>
      </ul>
    </.layout>
